<div class="tab-pane" id="createSeason" role="tabpanel" aria-labelledby="createSeason-tab">
    <form id="createSeasonForm">
        <div class="modal-body">
        <div id="alert-season">
            <!-- error message -->
        </div>
            <div class="form-row">
                <div class="col-6 form-group">
                    <label for="seasonInput">Sæson</label>
                    <input name="season" id="seasonInput"  class="form-control" placeholder="Indtast Sæson, fx '18/19'" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-row float-right">
                <div class="col form-group">
                    <!-- TODO set opret sæson som default key-->
                    <button id="createSeasonCancel" class="btn btn-secondary" data-dismiss="modal" style="cursor: pointer">Annuller</button>
                    <button id="createSeasonSubmit" type="submit" class="btn btn-primary" style="cursor: pointer;">Opret sæson</button>
                </div>
            </div>
        </div>
    </form>
</div>