<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLabel">System administration</h5>
                <button type="button" class="close" id="adminClose" data-dismiss="modal" aria-label="Close"
                        style="cursor: pointer;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <ul class="nav nav-tabs pt-2 bg-light" id="myTab" role="tablist">
                {{#if consultant.isAdmin}}
                    <li class="nav-item ml-3">
                        <a class="nav-link active" id="createUser-tab" data-toggle="tab" href="#createUser" role="tab"
                        aria-controls="createUser" aria-selected="true">Opret bruger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="editUser-tab" data-toggle="tab" href="#editUser" role="tab"
                        aria-controls="editUser" aria-selected="false">Rediger bruger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="createSeason-tab" data-toggle="tab" href="#createSeason" role="tab"
                        aria-controls="createSeason" aria-selected="false">Opret sæson</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="editSeason-tab" data-toggle="tab" href="#editSeason" role="tab"
                        aria-controls="editSeason" aria-selected="false">Rediger sæson</a>
                    </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link {{#equals consultant.isAdmin false}}active ml-3{{/equals}}" id="dynamicColumn-tab" data-toggle="tab" href="#dynamicColumn" role="tab"
                       aria-controls="dynamicColumn" aria-selected="{{#if consultant.isAdmin}}false{{else}}true{{/if}}">Dynamiske kolonner</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                {{#if consultant.isAdmin}}
                    {{> createConsultant}}
                    {{> editConsultant}}
                    {{> createSeason}}
                    {{> editSeason}}
                {{/if}}

                {{> createDynamic}}
            </div>
        </div>
    </div>
</div>