<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLabel">System administration</h5>
                <button type="button" class="close" id="adminClose" data-dismiss="modal" aria-label="Close" style="cursor: pointer;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <ul class="nav nav-tabs pt-2 bg-light" id="myTab" role="tablist">
                <li class="nav-item ml-3">
                    <a class="nav-link active" id="createUser-tab" data-toggle="tab" href="#createUser" role="tab" aria-controls="createUser" aria-selected="true">Opret bruger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="editUser-tab" data-toggle="tab" href="#editUser" role="tab" aria-controls="editUser" aria-selected="false">Rediger bruger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="createSeason-tab" data-toggle="tab" href="#createSeason" role="tab" aria-controls="createSeason" aria-selected="false">Opret sæson</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="editSeason-tab" data-toggle="tab" href="#editSeason" role="tab" aria-controls="editSeason" aria-selected="false">Rediger sæson</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="createUser" role="tabpanel" aria-labelledby="createUser-tab">
                    {{> createUser}}
                </div>

                <div class="tab-pane" id="editUser" role="tabpanel" aria-labelledby="editUser-tab">
                    <table class="table table-striped">
                        <thead>
                            <th>Brugernavn</th>
                            <th>Kode</th>
                            <th>Admin</th>
                        </thead>
                        <tbody>
                            {{#each consultants}}
                                {{#if isDisabled}}
                                {{else}}
                                    <tr class="user" data-user-id="{{_id}}">
                                        <td><input class="editUserUsername form-control" type="text" value="{{username}}" name="brugernavn" placeholder="Brugernavn"/></td>
                                        <td><button class="editUserPasswordBtn btn btn-info">skift kode</button></td>
                                        <td><input class="editUserIsAdmin form-control" type="checkbox" name="er admin" checked="{{isAdmin}}"></td>
                                        <td><button class="editUserSaveBtn btn btn-info">gem</button></td>
                                        <td><button class="editUserDeleteBtn btn btn-info">slet</button></td>
                                    </tr>
                                {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="createSeason" role="tabpanel" aria-labelledby="createSeason-tab">
                    {{> createSeason}}
                </div>

                <div class="tab-pane" id="editSeason" role="tabpanel" aria-labelledby="editSeason-tab">

                </div>
            </div>
        </div>
    </div>
</div>