<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Opret ordre - APAPA</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>

    <body class="bg-light">
        <div class="card mt-5 mx-auto" style="width: 70%">
            <h4 class="card-header">Opret ordre</h4>
            <div class="card-body">
                <form>
                    <div class="form-row mb-3">
                        <div class="col">
                            <select id="inputConsultant" class="form-control">
                                <option selected>MJ</option>
                                <option>ML</option>
                                <option>MH</option>
                                <option>NK</option>
                            </select>
                        </div>
                        <div class="col date" data-provide="datepicker">
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-7">
                            <input type="text" class="form-control" placeholder="Adresse">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Postnummer">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="By">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>