<div class="modal fade" id="editOrderModal" tabindex="-1" role="dialog" aria-labelledby="editOrderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOrderModalLabel">Ret ordre</h5>
                <button type="button" class="close" id="orderEditClose" data-dismiss="modal" aria-label="Close"
                        style="cursor: pointer;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <style>
                /* Bootstrap måden findes her et sted: getbootstrap.com/docs/4.0/utilities/flex/ */
                .faseBubble {
                    display: inline-block;
                }
            </style>
            <ul class="nav nav-tabs pt-2 bg-light" id="faseTab" role="tablist">
                <li class="nav-item ml-3">
                    <a class="nav-link active" id="fase1-tab" data-toggle="tab" href="#fase1" role="tab">
                        <div align="center" class="bubble fase1 faseBubble align-middle"></div>
                        Fase 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="fase2-tab" data-toggle="tab" href="#fase2" role="tab">
                        <div align="center" class="bubble fase2 faseBubble align-middle"></div>
                        Fase 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="fase3-tab" data-toggle="tab" href="#fase3" role="tab">
                        <div align="center" class="bubble fase3 faseBubble align-middle"></div>
                        Fase 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="faseLog-tab" data-toggle="tab" href="#log" role="tab">Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="faseSletOrdre-tab" data-toggle="tab" href="#sletOrdre" role="tab">Slet
                        ordre</a>
                </li>
            </ul>
            <form id="orderEditForm" novalidate>
                <div class="modal-body">
                    <div class="tab-content" id="faseTabContent">
                        <div class="tab-pane show active" id="fase1" role="tabpanel" aria-labelledby="Fase1Tab">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="editInputConsultant">Konsulent</label>
                                    <select name="consultant" id="editInputConsultant" class="form-control" required>
                                        {{#each consultants}}
                                            <option value="{{this._id}}">{{this.username}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col form-group">
                                    <label for="editInputSignedDate">Indgået dato</label>
                                    <input name="signedDate" type="date" id="editInputSignedDate" class="form-control"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6 form-group">
                                    <label for="editInputName">Navn</label>
                                    <input name="name" type="text" id="editInputName" class="form-control"
                                           placeholder="Navn" required>
                                </div>
                                <div class="col-6 form-group">
                                    <label for="editInputFarmName">Gårdnavn</label>
                                    <input name="farmName" type="text" id="editInputFarmName" class="form-control"
                                           placeholder="Gårdnavn" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6 form-group">
                                    <label for="editInputStreet">Adresse</label>
                                    <input name="street" type="text" id="editInputStreet" class="form-control"
                                           placeholder="Adresse" required>
                                </div>
                                <div class="col-3 form-group">
                                    <label for="editInputZip">Postnummer</label>
                                    <input name="zip" type="number" id="editInputZip" class="form-control"
                                           placeholder="Postnummer" required>
                                </div>
                                <div class="col-3 form-group">
                                    <label for="editInputCity">By</label>
                                    <input name="city" type="text" id="editInputCity" class="form-control"
                                           placeholder="By" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="editInputLandlineNumber">Fastnet tlf.</label>
                                    <input name="landlineNumber" type="tel" id="editInputLandlineNumber"
                                           class="form-control" placeholder="Fastnet telefon"
                                           pattern="^[\s()+-]*([0-9][\s()+-]*){6,20}$">
                                </div>
                                <div class="col form-group">
                                    <label for="editInputPhoneNumber">Mobil tlf.</label>
                                    <input name="phoneNumber" type="tel" id="editInputPhoneNumber" class="form-control"
                                           placeholder="Mobil telefon" pattern="^[\s()+-]*([0-9][\s()+-]*){6,20}$">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="editInputComment">Kommentar</label>
                                    <textarea name="comment" id="editInputComment" class="form-control" rows="5"
                                              style="min-height: 74px"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    <label for="editInputSampleDensity">Prøvetæthed</label>
                                    <div class="input-group" id="sampleDensityContainer">
                                        <span class="input-group-addon">1/</span>
                                        <input name="sampleDensity" type="number" min="0" id="editInputSampleDensity" class="form-control" placeholder="Mængde">
                                        <span class="input-group-addon">ha</span>
                                    </div>
                                </div>

                                <div class="col-4 form-group">
                                    <label for="editInputArea">Areal</label>
                                    <div class="input-group" id="sampleDensityContainer">
                                        <input name="area" type="number" min="0" id="editInputArea" class="form-control"
                                               placeholder="Størrelse">
                                        <span class="input-group-addon">ha</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group ml-3"
                                         style="line-height: 0; margin-bottom: 0; margin-top: 32px;">
                                        <label for="editInputSamePlanAsLast">
                                            <input name="samePlanAsLast" type="checkbox" id="editInputSamePlanAsLast">
                                            Samme plan som sidst</label>
                                        <label for="editInputTakeOwnSamples">
                                            <input name="takeOwnSamples" type="checkbox" id="editInputTakeOwnSamples">
                                            Prøver selvudtaget</label>
                                    </div>
                                </div>
                            </div>
                            <div class="dynamic fase-1"></div>
                        </div>
                        <div class="tab-pane" id="fase2" role="tabpanel" aria-labelledby="Fase2Tab">
                            <div class="form-row">
                                <div class="col-3 form-group">
                                    <label for="inputMapDate">Kort til udtagning</label>
                                    <input name="mapDate" type="date" id="inputMapDate" class="form-control">
                                </div>
                                <div class="col-3 form-group">
                                    <label for="inputSampleDate">Udtagning</label>
                                    <input name="sampleDate" type="date" id="inputSampleDate" class="form-control">
                                </div>
                                <div class="col-3 form-group">
                                    <label for="inputSampleTime">Udtagning</label>
                                    <div class="input-group">
                                        <input name="sampleTime" type="number" id="inputSampleTime" class="form-control"
                                               placeholder="Antal">
                                        <span class="input-group-addon">timer</span>
                                    </div>
                                </div>
                                <div class="col-3 form-group">
                                    <label for="inputSamplesTaken">Udtaget</label>
                                    <div class="input-group">
                                        <input name="samplesTaken" type="number" min="0" id="inputSamplesTaken"
                                               class="form-control" placeholder="Mængde">
                                        <span class="input-group-addon">ha</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3 form-group">
                                    <label for="inputCutSamples">Cut</label>
                                    <div class="input-group">
                                        <input name="cutSamples" type="number" min="0" id="inputCutSamples"
                                               class="form-control" placeholder="Antal">
                                        <span class="input-group-addon">stk</span>
                                    </div>
                                </div>
                                <div class="col-3 form-group">
                                    <!-- Whitespace -->
                                </div>
                                <div class="col-3 form-group">
                                    <label for="inputLabDate">Sendt til lab</label>
                                    <input name="labDate" type="date" id="inputLabDate" class="form-control">
                                </div>
                                <div class="col-3 form-group">
                                    <label for="inputMO">Sendt til markanalyse</label>
                                    <input name="mO" type="date" id="inputMO" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <label for="inputOtherSamples">Andre</label>
                                    <div class="input-group">
                                        <input name="otherSamples" type="number" min="0" id="inputOtherSamples"
                                               class="form-control" placeholder="Andre">
                                        <span class="input-group-addon">stk</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <!-- Whitespace -->
                                </div>
                                <div class="col-3 form-group">
                                    <label for="inputFromLabDate">Modtaget fra lab</label>
                                    <input name="fromLabDate" type="date" id="inputFromLabDate" class="form-control">
                                </div>
                                <div class="col-3 form-group">
                                    <label for="inputReceptApproved">Faktura godkendt</label>
                                    <input name="receptApproved" type="date" id="inputReceptApproved"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3 form-group">
                                    <label for="inputMgSamples">Mg</label>
                                    <div class="input-group">
                                        <input name="mgSamples" type="number" min="0" id="inputMgSamples"
                                               class="form-control" placeholder="Mængde">
                                        <span class="input-group-addon">stk</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dynamic fase-2"></div>
                        </div>
                        <div class="tab-pane" id="fase3" role="tabpanel" aria-labelledby="Fase3Tab">
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    <label for="editInputSentToFarm">Udsendt til landmand dato</label>
                                    <input name="sentToFarm" type="date" id="editInputSentToFarm" class="form-control">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="editInputSentBy">Udsendt af:</label>
                                    <select name="sentBy" id="editInputSentBy" class="form-control">
                                        {{#each consultants}}
                                            <option value="{{this._id}}">{{this.username}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4 form-group">
                                    <div class="ml-3" style="line-height: 0; margin-bottom: 0; margin-top: 32px;">
                                        <label for="editInputContactFarmer">
                                            <input name="contactFarmer" type="checkbox" id="editInputContactFarmer">
                                            Landmand kontaktes</label>
                                        <label for="inputApplicationMap">
                                            <input name="applicationMap" type="checkbox" id="inputApplicationMap">
                                            Ønkes tildelingskort?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group">
                                    <label for="editInputRemarksAndComments">Bemærkninger & aftaler</label>
                                    <textarea name="remarksAndComments" id="editInputRemarksAndComments" class="form-control" rows="4" style="min-height: 74px"></textarea>
                                </div>
                                <div class="col-4 form-group">
                                    <!-- disse har ikke de rigtige navne osv. mvh mathias -->
                                    <!--label for="editInputSentToFarm">Sendt til landmand</label>
                                    <input name="sentToFarm" type="date" id="editInputSentToFarm" class="form-control"-->
                                    <!--label for="editInputSentToPit">Sendt til maskinstation</label>
                                    <input name="sentToPit" type="date" id="editInputSentToPit" class="form-control"-->
                                </div>
                                <div class="col-4 form-group">
                                    <label for="editInputAssignedFields">Tildelte marker på kort</label>
                                    <div class="input-group" id="editInputAssignedFields">
                                        <input name="assignedFields" type="number" min="0" id="editInputAssignedFields"
                                               class="form-control" placeholder="Antal marker">
                                        <span class="input-group-addon">marker</span>
                                    </div>
                                    <label for="editInputAssignedHectare">Antal ha</label>
                                    <div class="input-group" id="editInputAssignedHectare">
                                        <input name="AssignedHectare" type="number" min="0"
                                               id="editInputAssignedHectare"
                                               class="form-control" placeholder="Antal ha">
                                        <span class="input-group-addon">ha</span>
                                    </div>
                                </div>
                                <div class="col-4 form-group">
                                    <div class="form group ml-3"
                                         style="line-height: 0; margin-bottom: 0; margin-top: 32px;"></div>
                                    <label for="editInputSentToPit">Sendt til Maskinstation</label>
                                    <input name="sentToPit" type="date" id="editInputSentToPit" class="form-control">
                                </div>
                            </div>
                            <div class="dynamic fase-3"></div>
                        </div>
                        <div class="tab-pane" id="log" role="tabpanel" aria-labelledby="FaseLogTab">
                            <div class="form-group" id="logElement"></div>
                        </div>
                        <div class="tab-pane" id="sletOrdre" role="tabpanel" aria-labelledby="FaseDestroyTab">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-row float-right">
                            <div class="col form-group">
                                <button id="orderEditCancel" class="btn btn-secondary" data-dismiss="modal"
                                        style="cursor: pointer">Annuller
                                </button>
                                <button id="orderEditSave" type="submit" class="btn btn-primary"
                                        style="cursor: pointer;">
                                    Gem ordre
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>