<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oversigt</title>
</head>
<body>

<div id="navBar">
    <div id="navMenu">
        MENUBUTTON
    </div>
    <div id="navSearch">
        SØGNING
    </div>
</div>

<div id="contentData">
    {{#each orders}}{{consultant}}{{createdDate}}{{/each}}
</div>
</body>
</html>