#contentData thead th {
    text-transform: capitalize;
}

.navbar {
    text-transform: capitalize;
}

.form-control {
    text-transform: capitalize;
}

#sampleDensityContainer {
    display: flex;
    align-items: center;
}

#inputSampleDensity {
    display: inline-block;
}

#search {
    /*position: absolute; <-- satte search fast, i stedet for at følge reponsive*/
    top: 7px; /* <-- i stedet foor 0, er den sat til den samme margin, som når den bliver lille - og dermed aldrig blivr */
    right: 7px;
}