#contentData thead th {
    text-transform: capitalize;
}

.navbar {
    text-transform: capitalize;
    padding: 0.25em;
}

#sampleDensityContainer {
    display: flex;
    align-items: center;
}

#inputSampleDensity {
    display: inline-block;
}

#search {
    top: 7px;
    right: 7px;
}

.sortable {
    cursor: pointer;
    position: relative;
}