@media screen and (max-width: 991px){
    #navbar-statistics{
        display: none;
    }
}

html, body{
    min-width: 1190px;
}

tbody tr{
    cursor: pointer;
}

thead tr th{
    vertical-align: middle !important;
}

#contentData thead th {
    text-transform: capitalize;
}

.navbar {
    text-transform: capitalize;
    padding-right: 12px;
    padding-left: 4px;
}

.sortable {
    cursor: pointer;
    position: relative;
}

